.active>button {
    font-weight: 700;
}

.navStripe {
  background-color: #282c34;
  display: block;
  height: 30px;
  width: 100%;
}

.navLinks {
  background-color: #282c34;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navLinks button {
  margin: 50px;
}


.App {
  text-align: center;
}
